*{
	/*color: #607d8b !important;*/
}
.uppercase{
	text-transform: uppercase;
}
.small{
	padding: 1rem;
}
.card-image{
    height: 250px;
    overflow: hidden;
}
.card-content{
	height: 250px;
}
#mobile-demo > li{
	color: rgba(0,0,0,0.54);
}
/*.borde-gris{
	border: 1px solid #e0e0e0 !important;
}*/
.sombra-negra{
	background: rgba(3, 3, 3, .3);
	text-shadow: 1px 1px #000000;
}